body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

#settings {
  display: flex;
}

#polling-interval {
  margin-left: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background: #f2f2f2;
}
